////////////////////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////////////////////

$red: #ff0f17;
$reddark: #ba0006;
$redgradient: linear-gradient(to bottom, #ff0f17 0%, #ba0006 100%);

$black: #000;
$blacktwo: #0f1517;
$blackthree: #1c2326;

$blue: #0c1ce8;
$bluelight: #9dc1ff;

$grey: #efefef;

$white: #fff;
